<app-header></app-header>
<main role="main">
  
  <!-- Waiting for response -->
  <div *ngIf="film === undefined">
    <section class="jumbotron text-center" >
      <div class="container">
        <h1 class="jumbotron-heading">
          Obteniendo información...
        </h1>
      </div>
    </section>
  </div>

  <!-- Error -->
  <div *ngIf="film === false">
    <section class="jumbotron text-center" >
      <div class="container">
        <div class="alert alert-danger" role="alert">
          Error al obtener la información del film
        </div>
      </div>
    </section>
  </div>

  <!-- Film Details -->
  <div *ngIf="film">
    <section class="jumbotron text-center" >
      <div class="container">
        <h1 class="jumbotron-heading">
          {{ film.Title }}
        </h1>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <img class="img-film" src="{{film.Poster}}">
        </div>
        <div class="col-sm-6 col-sm-8">
          <p>{{film.Plot}}</p>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Actors:</th>
                <td>{{ film.Actors }}</td>
              </tr>
              <tr>
                <th scope="row">Director:</th>
                <td>{{ film.Director }}</td>
              </tr>
              <tr>
                <th scope="row">Genre:</th>
                <td>{{ film.Genre }}</td>
              </tr>
              <tr>
                <th scope="row">Year:</th>
                <td>{{ film.Year }}</td>
              </tr>
              <tr>
                <th scope="row">Rating:</th>
                <td>{{ film.imdbRating }}</td>
              </tr>
              <tr>
                <th scope="row">Released:</th>
                <td>{{ film.Released }}</td>
              </tr>
              <tr>
                <th scope="row">WebSite:</th>
                <td><a href="film.Website" target="_blank">{{ film.Website }}</a></td>
              </tr>
              <tr>
                <th scope="row">Run time:</th>
                <td>{{ film.Runtime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </main>

