<div class="login-wrapper">
  <form (ngSubmit)="onSubmit()" class="form-signin text-center">
    <i class="logo mb-4 fa fa-film"></i>
    <h1 class="h3 mb-3 font-weight-normal">Please, sign in</h1>
    <div class="alert alert-danger" role="alert" *ngIf="showErrorLogin">
      <strong>Ups!</strong> Username or password incorrect
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': showErrorLogin}">
      <label for="input-user" class="sr-only">Username</label>
      <input
        type="text"
        id="input-user"
        [(ngModel)]="username"
        [ngModelOptions]="{standalone: true}"
        class="form-control"
        placeholder="Username"
        required=""
        autofocus="">
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': showErrorLogin}">
      <label for="input-password" class="sr-only">Password</label>
      <input
        type="password"
        id="input-password"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}"
        class="form-control"
        
        placeholder="Password"
        required="">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!username.trim() || !password.trim()">
      Iniciar sesión
    </button>
  </form>
</div>