$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

.form-group {
  &.has-danger {
    input {
      background-color: #ffe6e6;
    }
  }
}

.btn-block {
  display: block;
  width: 100%;
}

html,
body {
  height: 100%;
}

.jumbotron {
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-img-top {
  height: 225px;
  width: 100%;
  display: block;
  object-fit: contain;
}

.no-results {
  padding: 2rem 0;
}

.full-width {
  display: block;
  width: 100%;
}